<!DOCTYPE html>
<html>
<head>
    <title>Weather Information</title>
</head>
<body>
    <h2>Weather Information</h2>
    <p>選択した地名: {{ weather_data.title }}</p>
    <p>今日の日付: {{ weather_data.publicTimeFormatted }}</p>
    <p>天気: {{ weather_data.forecast.detail.weather }}</p>
    <img src="{{ weather_data.forecast.image.url }}" alt="Weather Image">
    <p>最高気温:{{weather_data.forecast.temperature.max.celsius}}°C</p>
    <p>最低気温:{{weather_data.forecast.temperature.min.celsius}}°C</p>

    <a href="{% url 'index' %}">ホームページに戻る</a>
</body>
</html>
